/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: linear-gradient(270deg, #4CAF50, #ff4b2b, #22c1c3);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

/* Section Styles */
section {
    padding: 20px;
    text-align: center;
}

.project {
    margin: 20px 0;
}

.project a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project a:hover {
    color: #ff4b2b;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1, p, h2, h3, a {
    animation: fadeIn 2s ease-in;
}

/* Button Styles */
.download-button {
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.centered-buttons {
    text-align: center;
    margin: 20px 0;
}

.social-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #0077b5; /* LinkedIn color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #005582; /* Darker LinkedIn color */
}

.download-button:hover {
    background-color: #4CAF50;
    color: white;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Slide-Up Animation */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#contact {
    animation: slideUp 1s ease-in-out;
}

/* Gradient Animation */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
